/* *{
    background-image: url(/public/images/Clementinum-beautiful-library.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    opacity: 30%;
    width: 75%;
} */


/* .create-container {
    background-image: url(/public/images/Clementinum-beautiful-library.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 30%;
} */

