/* *{
    background-image: url(/public/images/Clementinum-beautiful-library.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    opacity: 30%;
    width: 75%;
} */


/* .create-container {
    background-image: url(/public/images/Clementinum-beautiful-library.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 30%;
} */


.create-container {
    color: white;
    padding: 30px 10px;
    margin: 100px 0;
    font-size:22px;
    background-color: rgba(0,0,0,0.7);
}